<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA74e5srhoLlqWpaeWOH8MffsCNyggs4Dw</string>
	<key>GCM_SENDER_ID</key>
	<string>793289050025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zcnapps.nottodo</string>
	<key>PROJECT_ID</key>
	<string>not-to-do-3f345</string>
	<key>STORAGE_BUCKET</key>
	<string>not-to-do-3f345.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793289050025:ios:36fa9a12b283ec67d826b8</string>
</dict>
</plist>